.S001_Home {
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden; 
	-webkit-box-flex: 1;
	flex-grow: 1;
	z-index: 1;
	width: 100%;
}

.S001_Home .row {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	width: 100%;
}

.S001_Home .row .column {
	width: 30%;
	text-align: center;
	box-sizing: border-box;
}