.C001_TopMenu {
    background-color: transparent;
    box-shadow: none;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 64px;
    max-height: 1000px;
    z-index: 3;
    color: red;
}

.C001_TopMenu .row {
    display: flex;	
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    flex-shrink: 0;
    align-self: stretch;
    -webkit-box-align: center;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
}

.C001_TopMenu .row .title {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
}

.C001_TopMenu .row .spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.C001_TopMenu .row .navigation {
    margin: 0;
    padding: 0;
    height: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.C001_TopMenu .row .navigation .link {
    display: inline-block;
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    color: white;
    cursor: pointer;
}

.C001_TopMenu .row .navigation .link.link-selected {
    background-color: red;
}